<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <import resource="spring-tools.xml"/>

    <context:annotation-config/>

    <bean id="main" class="ua.com.malikov.view.Main">
        <property name="dataSource" ref="dataSource"/>
        <property name="companyService" ref="companyService"/>
        <property name="customerService" ref="customerService"/>
        <property name="developerService" ref="developeService"/>
        <property name="projectService" ref="projectService"/>
        <property name="skillService" ref="skillService"/>
    </bean>

    <bean id="companyService" class="ua.com.malikov.service.CompanyService" >
        <property name="companyDAO" ref="companyDAO"/>
        <property name="developerDAO" ref="developerDAO"/>
    </bean>

    <bean id="customerService" class="ua.com.malikov.service.CustomerService" >
        <property name="customerDAO" ref="customerDAO"/>
    </bean>

    <bean id="developeService" class="ua.com.malikov.service.DeveloperService" >
        <property name="developerDAO" ref="developerDAO"/>
    </bean>

    <bean id="projectService" class="ua.com.malikov.service.ProjectService" >
        <property name="projectDAO" ref="projectDAO"/>
    </bean>

    <bean id="skillService" class="ua.com.malikov.service.SkillService" >
        <property name="skillDAO" ref="skillDAO"/>
    </bean>

    <context:component-scan base-package="ua.com.malikov.**.service"/>
</beans>